<div class="block-request" ng-click="vm.changeView('/request/', request.id)">
    <div class="pull-left col-sm-12 col-xs-12 multiple-span">
        <img class="img-circle float-left" ng-src=''>
        <div class="padding-list">
            <h4 class="blue">{{request.name}}</h4>
            <img class="img-circle" ng-src="{{vm.getPicture(request.user_id)}}">
            <span ng-if="request.distance">{{request.distance | number:2}} km</span>
            <div>
                <span ng-repeat="helpSkill in request.skills | orderBy:helpSkill track by $index"
                      ng-class="'skill-button'+($index % 3)">
                    {{helpSkill}}
                </span>
            </div>
        </div>
    </div>
</div>