<div ng-class="chat.isCollapsed ? 'u-chatmenu-collapsed' : 'u-chatmenu'" class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

    <!--<div class="u-chatmenu col-lg-2 col-md-3 col-sm-4 col-xs-4">-->
    <div class="icon-position">
        <div class="btn-block" ng-click="chat.isCollapsed = !chat.isCollapsed">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
    </div>
    <div ng-class="chat.isCollapsed ? 'u-contactList-collapsed' : 'u-contactList'">
        <nav class="">
            <h2 class="no-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ 'MYCONTACT' | translate }}
            </h2>
            <div class="no-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span ng-repeat="contact in chat.contacts">
                    <button class="btn btn-succes glyphicon glyphicon-phone" ng-click="vm.visioCall(contact.user_id)"></button>
                    <span class="no-padding contact-infos col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="chat.openClose(contact.user_id)">
                        <img class="chat__avatar" ng-src="{{contact.picture}}">
                        <span class="chat__name">
                            <strong>
                                {{contact.name}}
                            </strong>
                        </span>
                    </span>
                    <span id="{{contact.user_id}}" class="contact-convs no-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span ng-repeat="conv in contact.convs" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="chat.openConv(conv.id)">
                            {{conv.name}}
                        </span>
                    </span>
                </span>
            </div>
        </nav>

    </div>
</div>
