@import "variables";

.activatePartner_page {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(197, 197, 197, 1.0);
    background-image: url("../img/activate-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
    background-size: cover;
    -webkit-background-size: cover;
    
    .activate_title {
        margin-top: 0;
        padding-top: 130px;
        color: $u-orange;
    }
    
    .activate_link {
        position: fixed;
        bottom: 0;
        right: 0;
        padding-right: 5px;
        font-size: 17px;
        color: white;
        
        blue_link {
            color: $u-blue;
        }   
    }
    
    .activate_pwd{
        font-size: 25px;
    }
    
    .activate_btn {
        color: white;
        border-radius: 5px;
        background-color: orange;
        border: none;
        padding: 10px;
        font-size: 22px;
    }
}