@import "variables";

.u-createRequest-box {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    display: inline-block;

    div {
        display: inline-block;
        input, textarea {
            font-size: 20px;
            border-radius: 5px;
            margin-bottom: 10px;
            padding-right: 1px;
        }
    }

    .form-label {
        text-align: left;    
    }

    .u-createRequest-btn {
        background-color: $u-orange;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
}
