@import "variables";

u-header {
    position: fixed !important;
    padding: 0px !important;
    top: 0px;
    z-index: 90;

    .u-header{
        height: 70px;
        background: $u-orange;

        .u-header-admin{
            background: $app-gray;
        }
    }
}