@import "variables";

.u-plogin {
    height: 100%;
    background: url("../img/login-partner-bg.png");
    -webkit-background-size: cover;
    text-align: center;
    font-family: $u-font;
}

.u-to-loginUser {
    font-size: 17px;
    line-height: 25px;
    padding: 11px 23px;
    color: $u-orange;
    border-color: white; 
    border-width: 0px 0px 1px 0px;
    border-style: solid;

}

.u-to-loginUser:hover, 
.u-to-loginUser:active, 
.u-to-loginUser:focus {
    border-color: $u-blue;
}



.u-center-block {
    color: white;

    .u-logo-plogin {
        margin-top: 20px;
        display: inline-block;
    }

    .u-plogin-block {
        
        .u-label-plogin {
            padding-top: 10px;
            line-height: 23px;
            text-transform: uppercase;
            font-weight: 500;
        }

        .u-input-plogin {
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.6);
            color: $u-orange;
            font-size: 19px;
            border: 1px solid transparent;
            width: 100%;
            padding: 9px;
        }

        .u-input-plogin:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }

        .u-input-plogin:focus {
            border: 1px solid $u-blue;
        }

        .u-btn-plogin {
            margin-top: 10px;
            padding: 9px;
            background-color: $u-orange;
            opacity: 0.8;
            border-radius: 4px;
        }
        
        .u-btn-plogin:hover {
            color: white;
            background-color: $u-orange;
            opacity: 1;
        }
        
        .u-subs-link-plogin, .u-pwd-link-plogin {
            color: white;
            display: block;
            padding-top: 10px;
        }        
    }
}




