@import "variables";

$main-view-loader-color: rgba(64, 64, 64, 0.91);
$main-view-loader-font-size: 2em;
$main-view-font-color: #fff;

.main-view-container-no-menu {
    display: block;
    /*position: fixed;*/
    width: 100%;
    /* -webkit-background-size: cover; */
    height: 100%;
}
.main-view-container{
    display: block;
    /*position: fixed;*/
    width: 100%;
}

.main-view-loader{
    text-align: center;
    height: 100%;
    width: 100%;
    background: $main-view-loader-color;
    font-size: $main-view-loader-font-size;
    color: $main-view-font-color;
    position: absolute;
    z-index: 100;
}

.main-view-loader-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.main-view-content{
    transition: 0.2s ease-in-out;
    margin-top: 70px;
    margin-left: 250px;
}

.main-view-content-collapsed{
    transition: 0.2s ease-in-out;
    margin-top: 70px;
    margin-left: 75px;
}