@import "variables";

.u-reports-box {
    background-color: white;
    border-radius: 5px;
    
    
    table, th {
        text-align: center;
        
    }
    
    .u-btn-delete, .u-btn-unreport, .u-btn-view, .u-btn-filter {
        color: white;
        border-radius: 4px;
        border: none;
    }
    
    .u-btn-filter {
        font-size: 20px;
    }
    
    .u-btn-delete {
        background-color: #ff9800;
    }
    .u-btn-unreport {
        background-color: #42a5f5;
    }
    .u-btn-view, .u-btn-filter {
        background-color: rgb(167, 172, 193);
    }
    
    .glyphicon {
        padding-top: 5px; 
    }
    
    
    .u-report-filter {
        cursor: text;
        text-align: center;
        background-color: transparent;
    }
    
    .u-report-filter[disabled] {
        background-color: transparent;
        border: none;
        cursor: auto;
        box-shadow: none;
        padding: 0;
        height: auto;
        text-align: center;
    }

    .u-report-filter::-webkit-input-placeholder {
        color: black;
    }
    .u-report-filter::-moz-placeholder {
        color: black;
    }
    .u-report-filter:-ms-input-placeholder {
        color: black;
    }

}