@import "variables";

.input-group-addon {
  border-color: #42a5f5;
  background-color: #42a5f5;
  color: #ffffff;
}

.u-help-status li {
  display: inline-block;
  border: 1px solid #d7d7d7;
  color: $u-grey;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  height: 35px;
  width: 95px;
  line-height: 35px;
  margin-right: 10px;
}

.u-help-status li:hover {
  border: 1px solid $u-orange;
  color: $u-orange;
  cursor: pointer;
}

.u-help-status .u-selectedTab {
  color: $u-orange;
  border: 1px solid $u-orange;
}

.skill-button0 {
  background-color: $u-orange;
  padding: 2px 14px;
  color: white;
  border-radius: 100px;
  margin-right: 10px;
}

.skill-button1 {
  background-color: $u-grey;
  padding: 2px 14px;
  color: white;
  border-radius: 100px;
  margin-right: 10px;
}

.skill-button2 {
  background-color: $u-blue;
  padding: 2px 14px;
  color: white;
  border-radius: 100px;
  margin-right: 10px;
}

.nav {
  padding-right: 0px;
}

.nav > li > a:hover {
  background-color : $u-orange !important;
  color: white !important;
}

.u-my-skills {
  background-color : #eaeaea;
  color : #333333;
  width: 100%;
  margin-bottom: 5px;
}

.u-my-skills li{
  margin-bottom: 5px;
  text-decoration: none;
}

.u-my-skills .u-selected-filter {
  color: #333333;
  background-color: white;
}

.u-tab-requests {
  min-height: 400px;
  padding-right: 0px;
}

.u-tab-requests .distance {
  color: $u-grey;
  font-size: 10px;
}

.block-request {
  cursor: pointer;
  background-color: white;
  height: 140px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.22);
  margin-bottom: 1px;
}

.block-request:hover {
  background-color: menu;
}

.block-request .u-img-author {
  height : 90px;
  line-height: 120px;
}

.block-request .name-request {
  color: $u-grey;
}

.block-request .distance {
  color: $u-blue;
  font-size: 12px;
}

.block-request .fix-space {
  margin-top: 10px;
}

.fix-margin {
  margin-top: 10px;
}

.create-request-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24537;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}
.create-request-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
  background-color:#c62d1f;
  color:#ffffff;
}
.create-request-button:active {
  position:relative;
  top:1px;
  color:#ffffff;
}




