@import "variables";

.u-resetPwd {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../img/login-user-bg.png");
    -webkit-background-size: cover;
    text-align: center;
    font-family: $u-font;
}

.u-to-connection {
    font-size: 17px;
    line-height: 25px;
    padding: 11px 23px;
    color: $u-orange;
    border-color: $u-grey; 
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    cursor: pointer;
}

.u-to-connection:hover, 
.u-to-connection:active, 
.u-to-connection:focus {
    border-color: $u-orange;
    cursor: pointer;
}

.u-center-block {
    color: white;

    .u-logo-resetPwd {
        margin-top: 20px;
        display: inline-block;
    }

    .u-alert-resetPwd {
        background-color: rgba(66, 165, 245, 0.49);
        color: rgba(255, 255, 255, 0.71);
        border-color: #42a5f5;
    }
    
    .u-resetPwd-block {

        .u-label-resetPwd {
            padding-top: 10px;
            line-height: 23px;
            text-transform: uppercase;
            font-weight: 500;
        }

        .u-input-resetPwd {
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.6);
            color: $u-orange;
            font-size: 19px;
            border: 1px solid transparent;
            width: 100%;
            padding: 9px;
        }

        .u-input-resetPwd:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }

        .u-input-resetPwd:focus {
            border: 1px solid $u-blue;
        }

        .u-btn-resetPwd {
            margin-top: 10px;
            padding: 9px;
            background-color: $u-orange;
            opacity: 0.8;
            border-radius: 4px;
        }
        
        .u-btn-resetPwd:hover {
            color: white;
            background-color: $u-orange;
            opacity: 1;
        }     
    }
}




