@import "variables";

.u-sidemenu {
  width: 200px;
  height: 100%;
  float: left;
  background-color: $u-black;
  color: $app-gray;
  -webkit-transition: 0.4s linear;
  /*to only change opacity*/
  /*-webkit-transition: opacity 1s linear*/
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.u-sidemenu-collapsed {
    width: 40px;
    height: 100%;
    float: left;
    background-color: $umannity-black;
    color: $app-gray;
    -webkit-transition: 0.4s linear;
    /*to only change opacity*/
    /*-webkit-transition: opacity 1s linear*/
   -moz-transition: 0.4s linear;
   -o-transition: 0.4s linear;
   transition: 0.4s linear;
}

.collapse-btn {
    margin-left: 230px;
    color: black;
    margin-top: 20px;
    -webkit-transition: 0.4s linear;
    /*to only change opacity*/
    /*-webkit-transition: opacity 1s linear*/
   -moz-transition: 0.4s linear;
   -o-transition: 0.4s linear;
   transition: 0.4s linear;
}

.collapse-btn-reduce {
    margin-left: 70px;
    color: black;
    margin-top: 20px;
    -webkit-transition: 0.4s linear;
    /*to only change opacity*/
    /*-webkit-transition: opacity 1s linear*/
   -moz-transition: 0.4s linear;
   -o-transition: 0.4s linear;
   transition: 0.4s linear;
}