@import "variables";

.u-stats-box {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: #e4e0e0;
    padding: 15px;
    margin: 2px 5px 3px;
}

.u-stats-block {
    padding: 0px 2px;
}
