@import "variables";

.u-subscribe {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../img/login-user-bg.png");
    -webkit-background-size: cover;
    text-align: center;
    font-family: $u-font;
}

.u-to-connection {
    font-size: 17px;
    line-height: 25px;
    padding: 11px 23px;
    color: $u-orange;
    border-color: $u-grey; 
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    cursor: pointer;
}

.u-to-connection:hover, 
.u-to-connection:active, 
.u-to-connection:focus {
    border-color: $u-orange;
    cursor: pointer;
}

.u-center-block {
    color: white;

    .u-logo-subscribe {
        margin-top: 20px;
        display: inline-block;
    }

    .u-alert-login-blue {
        background-color: rgba(66, 165, 245, 0.5);
        color: rgba(255, 255, 255, 0.71);
        border-color: #42a5f5;
    }
    
    .u-alert-login-green {
        background-color: rgba(51, 205, 34, 0.5);
        color: rgba(255,255,255,1);
        border-color: rgba(51, 205, 34, 1);
        font-size: 18px;
        margin-top: 10px;
    }

    .u-subscribe-navigation {

        input[type=radio] {
            display: none;
        }

        .subscribe-circle, .subscribe-circle-active {
            background-color: #6d6e70;
            border: none;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            margin-left: 4%;
            margin-right: 4%;
            cursor: pointer;
        }

        .subscribe-circle-active {
            background-color: $u-orange;
        }
    }

    .u-subscribe-block {
        background-color: rgba(0, 0, 0, 0.15);
        padding-bottom: 15px;

        .u-label-subscribe, .u-question-subscribe {
            padding-top: 10px;
            line-height: 23px;
            text-transform: uppercase;
            font-weight: 500;
        }

        .u-question-subscribe {
            text-align: left;
        }

        .u-input-subscribe {
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.3);
            color: $u-orange;
            font-size: 19px;
            border: 1px solid transparent;
            width: 100%;
            padding: 9px;
        }

        .u-input-subscribe:hover {
            background-color: rgba(255, 255, 255, 0.35);
        }

        .u-input-subscribe:focus {
            border: 1px solid $u-blue;
        }

        .cgv-box {
            text-align: left;
            margin-top: 10px;
            height: 30px;
            line-height: 30px;

            .no-padding {
                padding: 0px;
            }

            input[type=checkbox] {
                display: none;
            }

            input[type=checkbox] + label {
                background-image: url(/img/input/orange.png);
                width: 30px;
                height: 30px;
                background-position: 0px;
                background-size: cover;
            }

            input[type=checkbox] + label:hover {
                background-position: -30px;
            }

            input[type=checkbox]:checked + label {
                background-position: -60px;
            }

            .cgv-link {
                cursor: pointer;
                text-decoration: none;
                color: white;
            }

            .cgv-link:hover {
                text-decoration: underline;
            }
        }


        .sex-box {

            .no-padding {
                padding: 0px;
            }

            .sex-radio {

                margin-top: 10px;

                input[type=radio] {
                    display: none;
                }

                input[type=radio] + label {
                    background-image: url(/img/input/orange.png);
                    width: 30px;
                    height: 30px;
                    background-position: -150px;
                    background-size: cover;
                }

                input[type=radio] + label:hover {
                    background-position: -180px;
                }

                input[type=radio]:checked + label {
                    background-position: -210px;
                }
            }

        }

        .u-input-image {
            margin-top: 20px;
        }

        .u-btn-subscribe {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 600;
            padding: 9px;
            background-color: $u-orange-opacity-8;
            border-radius: 4px;
        }

        .u-btn-subscribe:hover {
            color: white;
            background-color: $u-orange;
        }

        .u-btn-subscribe[disabled] {
            background-color: $u-logo-grey;
            cursor: default;
        }

        .u-subs-link-subscribe, .u-pwd-link-subscribe {
            color: white;
            display: block;
            padding-top: 10px;
            cursor: pointer;
        }        
    }
}




