//Colors
$u-orange : #FF9800;
$u-blue: #42a5f5;
$u-grey: #515151;
$umannity-black: rgba(50, 50, 58, 1.0);
$umannity-black-menu: rgba(40, 40, 48, 1.0);
$u-black: $umannity-black;
$app-gray: #F1F2F7;
$umannity-grey-text: #484848;
$u-font: Varela Round;
$u-light-gray: rgba(0, 0, 0, 0.17);

html {
    height: 100%;
}

body {
    height: 100%;
}

.u-view {
    height: 100%;
    background: $app-gray;
}