//Colors
$u-orange : #FF9800;
$u-blue: #42a5f5;
$u-grey: #515151;

$u-orange-transparent : rgba(255, 152, 0, 0.5);
$u-blue-transparent: rgba(66, 165, 245, 0.5);
$u-grey-transparent: rgba(109, 110, 112, 0.5);

$u-logo-grey: rgb(167, 172, 193);
$umannity-black: rgba(50, 50, 58, 1.0);
$umannity-black-menu: rgba(40, 40, 48, 1.0);
$u-black: $umannity-black;
$app-gray: #F1F2F7;
$umannity-grey-text: #484848;
$u-font: Varela Round;
$u-light-gray: rgba(0, 0, 0, 0.17);
$u-font-size: 1.2em;
$u-font-size-small: 1.0em;





//SideMenu
$hamburger-font-size: 1.5em;
$hamburger-size: 25px;
$sidemenu-width: 250px;
$sidemenu-collapsed-width: 75px;
$sidemenu-icon-size: 25px;

html {
    height: 100%;
}

body {
    height: auto !important;
    background-color: $app-gray;
    padding: 0px;
    display: flex;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: $u-grey;
    border: 0px none #fff;
}
::-webkit-scrollbar-thumb:horizontal {
    border-radius: 0px 50px 0px 0px;
}
::-webkit-scrollbar-thumb:vertical {
    border-radius: 0px 0px 0px 50px;
}
::-webkit-scrollbar-track {
    background: $app-gray;
    border: 0px none #ffffff;
    border-radius: 0px
}
::-webkit-scrollbar-corner {
    background: $u-orange;
}
