@import "variables";
@import "animations";

$externalVideoStreamHeight: 600px;
$externalVideoStreamWidth: 100%;
$localVideoStreamHeight: 240px;
$localVideoStreamWidth: 320px;
$visioDefaultMargin: 10px;

#externalVideoStream{
  height:$externalVideoStreamHeight;
  width:$externalVideoStreamWidth;
  background: $u-black;
  color: white;
  text-align: center;
}

#localVideoStream{
  margin-top: -200px;
  background: $u-light-gray;
  height: $localVideoStreamHeight;
  width: $localVideoStreamWidth;
  text-align: center;
}

#u-visio-hangup-button{
  margin:$visioDefaultMargin;
}

.u-visio-container{
  margin:$visioDefaultMargin;
}

.u-visio-local-video{
  z-index: 2;
  position: relative;
  width: 100%;
}

.u-vision-external-video{
  z-index: 1;
  width: $externalVideoStreamWidth;
  height: $externalVideoStreamHeight;
}

.u-visio-icon{
  margin-top: 20%;
  width:100%;
  font-size: 100px;
}

.u-visio-notification-bar{
  padding: $visioDefaultMargin;
  .panel-body{
    height: 60px;
  }
}
