<div class="main-view-loader" ng-if="appVm.getIsLoading()">
    <div class="main-view-loader-text">
        <p><i class="glyphicon glyphicon-refresh rotating"></i></p>
        {{ 'LOADING' | translate }}
    </div>
</div>
<div class="main-view-container">
    <u-side-menu ng-if="appVm.getUser()"></u-side-menu>
    <u-header class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="appVm.getUser()"></u-header>
    <!--<u-header ng-if="appVm.getUser()"></u-header>-->
    <u-header class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="appVm.getPartner()"></u-header>
    
    <u-side-menu ng-if="appVm.getPartner()"></u-side-menu>
    <u-chat-menu></u-chat-menu>

    <div ng-class="appVm.isCollapsed ? 'main-view-content-collapsed' : 'main-view-content'">
        <ng-transclude></ng-transclude>
    </div>
</div>
