<u-main-view>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <u-page-title title="CREATEPARTNER">
        </u-page-title>

        <form class="u-createPartner-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
                <input type="text" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="{{'PARTNERNAME' | translate }}" ng-model="vm.newPartner.name">
            </div>
            <div>
                <input type="text" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="{{'PARTNERBASELINE' | translate }}" ng-model="vm.newPartner.baseline">
            </div>
            <div>
                
                <!--{{'PARTNERIMAGE' | translate }}-->
                <div>
                    Select an image file: 
                    <input type="file" id="fileInput" />
                </div>
                <div class="cropArea">
                    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                </div>
                <div>Cropped Image:</div>

                
            </div>
            <div>
                <input type="email" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="{{'PARTNEREMAIL' | translate }}" ng-model="vm.newPartner.email">
            </div>
            <div>
                <input type="password" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="{{'PARTNERPASSWORD' | translate }}" ng-model="vm.newPartner.password">
            </div>
            <div>
                <input type="number" min="0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="{{'PARTNERPOINTS' | translate }}" ng-model="vm.newPartner.points">
            </div>
            <button class="u-createPartner-btn" ng-click="vm.createNewPartner()">
                {{'CREATEPARTNERBUTTON' | translate }}
            </button>
        </form>

    </div>
</u-main-view>