<u-main-view>
<div class="u-login">
        <div class="u-box-center">
            <form ng-submit="vm.login()" name="loginForm" class="css-form" novalidate>
                {{ 'EMAIL' | translate }}
                <br/>
                <input type="text" ng-model="vm.email" name="email"/>
                <br/>
                {{ 'PASSWORD' | translate }}
                <br/>
                <input type="password" ng-model="vm.password" name="password"/>
                <br/>
                <button type="submit" class="btn btn-primary">
                    {{ 'CONNECT' | translate }}
                </button>
            </form>
        </div>
    </div>
</u-main-view>