<u-main-view class="u-profil">
    <div class="no-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="u-banner-profile no-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--<div class="no-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="u-banner-profile">
        </div>-->
            <div class="navbar col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="col-lg-offset-5 col-lg-7 col-md-offset-6 col-md-6 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12">
                    <span class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
                        <div>{{'HELPGIVEN' | translate}} </div>
                        <div>{{ vm.user.given_helps }}</div>
                    </span>
                    <span class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
                        <div>{{'HELPTAKEN' | translate}} </div>
                        <div>{{ vm.user.taken_helps }}</div>
                    </span>
                    <span class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
                        <div>{{'REPUTATION' | translate}} </div>
                        <div>0</div>
                    </span>
                    <span class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
                        <div>{{'POINTSUSED' | translate}} </div>
                        <div>0</div>
                    </span>

                </span>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <img class="img-circle avatar avatar-original u-picture-profile" ng-src="{{vm.user.picture}}"/>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-2 toppad">
            <div uib-alert ng-repeat="error in vm.errors" ng-class="'alert-' + (error.type || 'danger')"
                 close="vm.closeAlert($index)">{{error | translate}}</div>
            <div class=" col-md-9 col-lg-9 col-sm-10 col-xs-10 col-md-offset-2 col-lg-offset-2 col-sm-offset-1 col-xs-offset-1" ng-show="vm.goEdit">
                <h1 class="only-bottom-margin col-lg-6 col-md-6 .hidden-md-down">{{ vm.user.first_name }} {{ vm.user.last_name }}</h1>
                <span class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h1 class="only-bottom-margin col-lg-2 col-md-2 col-sm-3 col-xs-3"> {{ vm.user.points }}</h1>
                    <u-page-title class="col-lg-9 col-md-9 col-sm-9 col-xs-9" title=Points></u-page-title>
                </span>
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>{{ 'EMAIL' | translate }} :</td>
                            <td>{{ vm.user.email }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'GENDER' | translate }} :</td>
                            <td>{{ vm.user.gender }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'BIRTHDATE' | translate }} :</td>
                            <td>{{ vm.user.formattedBirthdate }}</td>
                        </tr>
                        <tr ng-show="vm.isUser">
                            <td>{{ 'ADDRESS' | translate }} :</td>
                            <td>{{ vm.user.address }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'SKILLS' | translate }} :</td>
                            <td>
                                <div ng-repeat="skill in vm.user.skills">
                                    {{skill}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'AGE' | translate }} :</td>
                            <td>{{ vm.user.age }} {{"YEARS" | translate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 form-horizontal" role="form" ng-submit="vm.editProfile()" ng-hide="vm.goEdit">
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 control-label">{{ 'FIRSTNAME' | translate }}</label>
                    <div class="col-lg-7 col-md-7">
                        <input class="form-control" type="text" placeholder="{{ vm.user.first_name }}" ng-model="vm.edited_user.first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 control-label">{{ 'LASTNAME' | translate }}</label>
                    <div class="col-lg-7 col-md-7">
                        <input class="form-control" type="text" placeholder="{{ vm.user.last_name }}" ng-model="vm.edited_user.last_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 control-label">{{ 'GENDER' | translate }}</label>
                    <div class="col-lg-7 col-md-7">
                        <md-radio-group ng-model="vm.edited_user.sex">
                            <md-radio-button value=1 class="md-primary">{{ 'SEXMAN' | translate }}</md-radio-button>
                            <md-radio-button value=0>{{ 'SEXWOMAN' | translate }}</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 control-label">{{ 'EMAIL' | translate }}</label>
                    <div class="col-lg-7 col-md-7">
                        <input class="form-control" type="email" placeholder="{{ vm.user.email }}" ng-model="vm.edited_user.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 control-label">{{ 'TYPE_YOUR_PASSWORD' | translate }}</label>
                    <div class="col-lg-7 col-md-7">
                        <input class="form-control" type="password" ng-model="vm.edited_user.old_password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 control-label">{{ 'NEW_PASSWORD' | translate }}</label>
                    <div class="col-lg-7 col-md-7">
                        <input class="form-control" type="password" ng-model="vm.edited_user.new_password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 control-label">{{ 'CONFIRM_PASSWORD' | translate }}</label>
                    <div class="col-lg-7 col-md-7">
                        <input class="form-control" type="password" ng-model="vm.edited_user.confirm_new_password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 control-label">{{ 'BIRTHDATE' | translate }}</label>
                    <div class="col-lg-7 col-md-7">
                        <input class="form-control" type="date" placeholder="{{ vm.user.formattedBirthdate }}" ng-model="vm.edited_user.birthdateDateFormat">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 control-label">{{ 'ADDRESS' | translate }}</label>
                    <div class="col-lg-7 col-md-7">
                        <input class="form-control" type="text" placeholder="{{ vm.user.address }}" vs-google-autocomplete
                               vs-street="vm.edited_user.address.street"
                               vs-city="vm.edited_user.address.city"
                               vs-post-code="vm.edited_user.address.zipcode"
                               ng-model="vm.edited_user.address.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 control-label">{{ 'SKILLS' | translate }}</label>
                    <div class="col-lg-10 col-md-10">
                        <choose-skills object="vm.edited_user.skills"></choose-skills>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 control-label">
                        {{ 'CHANGE_PHOTO' | translate }}
                    </label>
                    <div class="col-lg-10 col-md-10">
                        <crop-image object="vm.tmp"></crop-image>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-8">
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                        <span></span>
                    </div>
                </div>
            </form>
        <button type="button" class="btn btn-sm btn-warning" ng-show="vm.isUser" ng-click="vm.goEdit = !vm.goEdit">
            <i class="glyphicon glyphicon-edit"></i>
            Edit
        </button>
        <!--<button class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove"></i>
            Sup
        </button>-->
    </div>
</u-main-view>

<!--
SEE OTHER PROFILE
<div class="row">
<form class="form-horizontal" role="form" ng-submit="vm.otherUser()">
<div class="form-group">
<label class="col-lg-3 control-label">ID</label>
<div class="col-lg-3">
<input class="form-control" type="text" ng-model="vm.other_user_id">
</div>
</div>
<div class="form-group">
<label class="col-md-3 control-label"></label>
<div class="col-md-8">
<input type="submit" class="btn btn-primary" value="Search">
<span></span>
</div>
</div>
</form>
</div>

-->