<u-main-view>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <u-page-title title="REPORTSLIST">
        </u-page-title>

        <div class="u-reports-box col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="panel-heading">
                <!--<h3 class="panel-title">{{'FILTERS'| translate}}</h3>-->
                <div class="pull-right">
                    <button class="u-btn-filter clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <i class="glyphicon glyphicon-filter"></i>
                    </button>
                </div>
            </div>

            <table class="table table-hover filtertable" id="dev-table">
                <thead>
                    <tr>
                        <th><input type="text" class="form-control u-report-filter" placeholder="{{'REPORTNUMBER'| translate}}" disabled></th>
                        <th><input type="text" class="form-control u-report-filter" placeholder="{{'REQUESTNUMBER'| translate}}" disabled></th>
                        <th><input type="text" class="form-control u-report-filter" placeholder="{{'USERID'| translate}}" disabled></th>
                        <th><input type="text" class="form-control u-report-filter" placeholder="{{'USERNAME'| translate}}" disabled></th>
                        <th><input type="text" class="form-control u-report-filter" placeholder="{{'REQUESTNAME'| translate}}" disabled></th>
                        <th><input type="text" class="form-control u-report-filter" placeholder="{{'REQUESTDATE'| translate}}" disabled></th>
                        <th><input type="text" class="form-control u-report-filter" placeholder="{{'REPORTMOTIV'| translate}}" disabled></th>
                        <th><input type="text" class="form-control u-report-filter" placeholder="{{'ACTIONS'|translate}}" disabled></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="report in vm.reportsList">
                        <td>{{report.report_id}}</td>
                        <td>{{report.request_id}}</td>
                        <td>{{report.user_id}}</td>
                        <td>{{report.user_name}}</td>
                        <td>Demande d'aides</td>
                        <td>{{report.date}}</td>
                        <td>{{report.message}}</td>
                        <td>
                            <button class="u-btn-view"><i class="glyphicon glyphicon-eye-open"></i></button>
                            <button class="u-btn-unreport"><i class="glyphicon glyphicon-ok-sign"></i></button>
                            <button class="u-btn-delete"><i class="glyphicon glyphicon-remove-sign"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</u-main-view>