<u-main-view>
    <div class="container">
        <div class="u-visio-notification-bar">
            <uib-accordion close-others="oneAtATime">
                <div ng-repeat="offer in vm.offers" uib-accordion-group class="panel-default"
                     is-open="vm.isAccordionOpen" heading="{{ 'VISIO_NOTIF' | translate }} {{ offer.emitter }}">
                    <button class="btn btn-sm btn-info" type="button" ng-click="vm.acceptVisioConference(offer)">OK
                    </button>
                    <button class="btn btn-sm btn-info" type="button" ng-click="vm.deleteOffers()">Cancel</button>
                </div>
            </uib-accordion>
        </div>
        <div class="u-visio-container">
            <div id="externalVideoStream">
                <div ng-if="!vm.externalStreamURL">
                    <span class="glyphicon glyphicon glyphicon-camera u-visio-camera-icon"></span>
                    You are not in a visio conference for the moment
                </div>
                <video ng-if="vm.externalStreamURL" ng-src="{{ vm.getExternalVideo() }}" autoplay></video>
            </div>
            <div id="localVideoStream">
                <div ng-if="!vm.streamURL" class="u-visio-stream-placeholder">
                    <span class="glyphicon glyphicon glyphicon-camera u-visio-camera-icon"></span>
                    No Local video stream
                </div>
                <div ng-if="vm.streamURL">
                    <video class="u-visio-local-video" ng-if="vm.stream" ng-src="{{ vm.getLocalVideo() }}"
                           autoplay></video>
                </div>
            </div>
        </div>
        <pre>
            Enter an user_id to call
            <input class="form-control"  type="text" ng-model="vm.recipient_id"/>
            <button class="btn btn-primary" ng-if="vm.recipient_id" ng-click="vm.makeCall()">Call</button>
        </pre>
    </div>
</u-main-view>