<u-main-view>
    <div ng-repeat="offer in vm.offers">
        <div>
            <div> {{ offer.emitter }}</div>
            <div> {{ offer.type }}</div>
            <button ng-click="vm.acceptVisioConference(offer)">OK</button>
            <button ng-click="vm.refuseVisioConference(offer)">Cancel</button>
        </div>
    </div>
    <h1>Realtime communication with WebRTC</h1>
    <video ng-if="vm.stream" ng-src="{{ vm.getLocalVideo() }}" autoplay></video>
    <button ng-if="vm.recipient_id" ng-click="vm.makeCall()">Call</button>
    <input type="text" ng-model="vm.recipient_id"/>
</u-main-view>