<div ng-class="appVm.isCollapsed ? 'u-sidemenu-collapsed' : 'u-sidemenu'">
    <div class="menu-logo">
        <div class="menu-img-name" ng-if="!appVm.isCollapsed">
            <img class="img-logo-name" src="img/logoName.png"/>
        </div>
        <div class="menu-img-short" ng-if="appVm.isCollapsed">
            <img class="img-logo-short" src="img/logoShort.png"/>
        </div>
    </div>
    <div class="hamburger-position">
        <div class="btn-block" ng-class="appVm.isCollapsed ? 'collapse-btn-reduce' : 'collapse-btn'" ng-click="appVm.isCollapsed = !appVm.isCollapsed">
            <span class="glyphicon hamburger glyphicon-menu-hamburger"></span>
        </div>
    </div>
    <div ng-class="appVm.isCollapsed ? 'menu-list-block-collapsed' : 'menu-list-block'">
        <div class="menu-item" ng-click="vm.changeView('/profile')" ng-if="appVm.getUser()">
            <div class="menu-icon glyphicon glyphicon-user"></div>
            <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'PROFILE' | translate }}</div>
        </div>
        <div class="menu-item" ng-click="vm.changeView('/partner')" ng-if="appVm.getPartner()">
            <div class="menu-icon glyphicon glyphicon-user"></div>
            <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'PROFILE' | translate }}</div>
        </div>
        <div class="menu-item" ng-click="vm.changeView('/createRequest')" ng-if="appVm.getUser()">
            <div class="menu-icon glyphicon glyphicon-plus-sign"></div>
            <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'CREATE_HELP' | translate }}</div>
        </div>
        <div class="menu-item" ng-click="vm.changeView('/requestsList')" ng-if="appVm.getUser()">
            <div class="menu-icon glyphicon glyphicon-plus-sign"></div>
            <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'HELP_LIST' | translate }}</div>
        </div>
        <div class="menu-item" ng-click="vm.changeView('/myRequestsList')" ng-if="appVm.getUser()">
            <div class="menu-icon glyphicon glyphicon-plus-sign"></div>
            <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'MY_HELP_LIST' | translate }}</div>
        </div>
        <div class="menu-item" ng-click="vm.changeView('/chat')" ng-if="appVm.getUser()">
            <div class="menu-icon glyphicon glyphicon-envelope"></div>
            <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'CHAT' | translate }}</div>
        </div>
        <div class="menu-item" ng-click="vm.changeView('/visio')" ng-if="appVm.getUser()">
            <div class="menu-icon glyphicon glyphicon-camera"></div>
            <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'VISIO' | translate }}</div>
        </div>
        <div class="menu-item" ng-click="vm.changeView('/createOffer')" ng-if="appVm.getPartner()">
            <div class="menu-icon glyphicon glyphicon-plus-sign"></div>
            <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'CREATE_OFFER' | translate }}</div>
        </div>
        <div class="menu-item" ng-click="vm.logout()">
            <div class="menu-icon glyphicon glyphicon-off"></div>
            <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'LOGOUT' | translate }}</div>
        </div>
        <div ng-if="vm.user.group > 0">
            <div ng-click="vm.adminSubmenu = !vm.adminSubmenu" class="menu-item">
                <div class="menu-icon glyphicon glyphicon-eye-open"></div>
                <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{'ADMINISTRATION' | translate}}</div>
            </div>
            <div ng-show="vm.adminSubmenu" class="submenu">
                <div class="menu-item" ng-click="vm.changeView('/admin/stats')">
                    <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'STATS' | translate }}</div>
                </div>
                <div class="menu-item" ng-click="vm.changeView('/admin/createPartner')">
                    <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'CREATEPARTNER' | translate }}</div>
                </div>
                <div class="menu-item" ng-click="vm.changeView('/admin/reports')">
                    <div ng-class="appVm.isCollapsed ? 'menu-text-collapsed' : 'menu-text'">{{ 'REPORTSLIST' | translate }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
